
.main {
    
    background-image: url(/assets/sunny-day.jpg);
    background-position: center;
}

#city-input, #weather-output {
    max-width: 400px;
    margin: 0 auto;
}
  
.banner {
    color: rgb(10, 9, 75);
    font-family: fantasy;
}

.card-title {
    text-transform: capitalize;
}

