
.text-center {
    
    background-image: url(/assets/mohammad-alizade-DunSKupQL7g-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#city-input, #weather-output {
    max-width: 400px;
    margin: 0 auto;
}
  
.banner {
    color: rgba(255, 255, 255, 0.842);
    font-family: fantasy;
}

.card-title {
    text-transform: capitalize;
}

